@charset "UTF-8";

section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
}

section.filters button {
    font-size: 18px;
    background-color:#FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin: auto 30px;
}

section.filters button:hover {
    opacity: 90%;
}

section.filters div.locations {
    height: 100%;
    width: 25%;
    padding-right: 50px;
    border-right: 1px solid #DDDDDD;
}

div.locations h3, div.amenities h3 {
    font-weight: 600;
    margin-bottom: 0px;
    margin-left: 50px;
}

div.locations h4, div.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 4px auto;
    margin-left: 50px;
}

section.filters div.amenities {
    height: 100%;
    width: 25%;
    margin-right: auto;
}

ul.popover {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FAFAFA;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 50px;
    list-style: none;    
}

div.locations ul, div.amenities ul {
    display: none;
}

div.locations ul.popover {
    padding-bottom: 45px;
}

div.locations ul.popover li h2 {
    margin-left: 35px;
    font-size: 16px;
}

div.locations ul.popover li p, div.amenities ul.popover li p {
    padding-left: 50px;
}

section.filters div.locations:hover > ul, section.filters div.amenities:hover > ul {
    display: block;
}

